<%# main body card %>
<div class="col s12 m7">
    <h2 class="header">Student Profile</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Student info:  
</p>
        </div>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">assignment_ind</i>
      About Me
      <span class="new badge blue">3</span></div>
    <div class="collapsible-body"><p>Location, Bio, Interests. Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">call_end</i>
      Contact
      <span class="badge"></span></div>
    <div class="collapsible-body"><p>Contact Info: email, phone, github, insta, twitter, FB, etc. <br>Reach me at: Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">keyboard</i>
      Skills
      <span class="badge"></span></div>
    <div class="collapsible-body"><p>Skills: Ruby, Rails, Java, C++, Python, Front end/Back end, CSS
    
        <div class="card-action">
          <a href="#">GitHub <i class="material-icons circle green">assignment_ind</i> </a>
        </div>
        <div class="card-action">
          <a href="#">Portfolio <i class="material-icons circle blue">business</i></a>
        </div>
        <div class="card-action">
          <a href="#">Facebook, Instagram, Twitter <i class="material-icons circle red">call_end</i></a>
        </div>
    </p></div>
  </li>
</ul>





      </div>
    </div>
  </div>
